* {
    box-sizing: border-box;
    background-color: #f9fcfc;
}

body{
    width:100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
}

.contentPane{
    width: 1024px;
    height: 768px;
    align-self: center;
    margin:auto;
    border: solid;
    
}
html {
    font-family: "Lucida Sans", sans-serif;
    font-size: 15px;
}   
.row{
 display: flex;
 flex-direction: row;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding-top: 2px;    
}

.col-1 {
    width: 30%;
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    justify-content: center;
    align-items: flex-end;
}


.col-2 {
    width: 40%;
    text-align: center;
    padding-bottom: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}


.col-3 {
    width: 30%;
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    justify-content: center;
    align-items: flex-end;
}

.col-4 {
    width: 30%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.col-5 {
    width: 30%;
    float: right;
    display: flex;
    justify-content: center;
}

.col-6 {
    width: 200px; 
    display: flex;
    justify-content: center;
}

.col-7 {
    width: 800px;    
    padding: 30px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: auto;
}

.col-8 {
    width: 200px;
    display: flex;
    margin-top: 1%;
    justify-content: center;
    flex-direction: column;
}

.col-9 {
    width: 640px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    position: absolute;
    margin: 100px 20px 0px 60px
}
.col-10 {
    width: 800px;
    display: flex;    
    flex-direction: column;
    justify-content: flex-start;
}

.col-11 {
    width: 5%;
    
}
.col-12 {
    width: 5%;
    
}

.col-13 {
    width: 2%;
    
}
.col-14{
    display: inline-block;
}
.col-15{
    display: block;
    align-items: center;
    padding-left: 5px;
}

textarea{
  margin-bottom: 3px;  
}

.middleTitle{
 box-shadow:5px 10px #0070cb;
 margin-left: 5%
}
.header {
    background-color: #9933cc;
    color: #ffffff;
    padding: 20px;
}

ul {
    list-style-type: none;
    margin: 0 10px 0 10px;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

    li a {
        display: block;
        color: black;
        text-align: center;
        padding: 5px 10px;
        text-decoration: none;
    }

        li a:hover:not(.active) {
            background-color: #5eade4;
            
        }

.active {
    background-color: #006398;
}

.addSprint {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    background-color: #00396a;
}

/* Full-width input fields */
input[type=text] {
    font-size: 13px;
    font-weight: 100;
    height: 25px;
    width: 150px;
    background: #f1f1f1;
    margin: 4px 0px 0px 2px;  
}

    input[type=text]:focus {
        background-color: #ddd;
        outline: none;
    }

.cancelLabel{
    color:red;
    padding-left: 10px;
    
}

.cancelLabel:hover{
    text-decoration: underline;
}

.hideLabel{
    color: #006398;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    
}

.hideLabel:hover{
    text-decoration: underline;
}



.sprintMenu {
   margin-left: 0; 
}

.newSprintForm{
   visibility: hidden; 
   position: absolute;
   margin: 20px 0 0 65px;
}




hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
    margin-left: 10px;
}

/* Set a style for all buttons */
button {
    background-color: #0070cb;
    color: white;   
    height: 25px;
    opacity: 0.9;
     margin: 3px 0px 4px 2px;  
}

    button:hover {
        opacity: 5;
        background-color: #5eade4;
    }

.selectCreateIssue {
    width: 200px;
    height: 25px;
    padding: 0;
    font-size: 13px;
    margin: 2px 0px 0px 2px;
}

.selectFilterStatus{
  width: 150px;
    height: 25px;
    padding: 0;
    font-size: 13px;
    margin: 2px 0px 0px 2px;  
}

.showAllStatusLabel{
   color: green;
   padding-right: 5px;  
}


.showAllStatusLabel:hover{
    text-decoration: underline;
}

.issueName {
    margin-bottom: 2px;
}
.issueCrtBtn {
    margin-left: 10px;
}

select {
    padding: 8px;
    margin-bottom: 7px;
    width: 180px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-size: 15px;
}

.tablerow{
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    table-layout:fixed
}

 tbody,tr { display: block; }
 
 .statusRowHidden{
     display: none;
 }
 .sprintRowHidden{
    display: none; 
 }
 
 .filterStatusContainer{
   position: absolute;
   height:29px;
   width: 390px;
   margin:4px 0 0 259px;
   visibility: hidden;
      
 } 

 
tr:after {
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
        }
        
th {
    padding: 3px;
    border: solid;
    height:35px;
    border-color: #1d90c9;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px        
}

tbody{
     height: 350px;
     overflow-y: auto;
}

 td {
    text-align: left;
    padding: 2px;
    height: 25px;
    display: flex;
    float:left;
    font-size: 11px;
    justify-content: center;
    align-items:center;
    word-wrap: break-word;
    border-style: none none solid none; 
}
.tableLastrow{
  border-style: none none none none; 
}

.commentedIssue:hover{
   text-decoration: underline;
    color:#008000;  
}

.issueColhead{
  width: 12%;  
}

.typeColhead{
   width: 8%; 
}         
.statusColhead{
   width: 15%; 
} 
.statusColhead:hover{
    text-decoration: underline;
    color:#0070cb;    
}

.descColhead{
   width: 15%
}   
.commColhead{
   width: 10%
}

.asgColhead{
   width: 12%
}
.crtColhead{
   width: 13% 
}

.updColhead{
   width: 15%}

.issueColID{
   width: 2%
}
        
.issueCol{
  width: 12%; 
  justify-content:flex-start;
   border-style: none solid solid none;
}

.subIssueCol{
  width: 12%; 
  justify-content: flex-start;
  padding-left: 20px ; 
 border-style: none solid solid none;
}

.typeCol{
   width: 8% ;
}         
.statusCol{
   width: 15%; 
}   
.descCol{
   width: 15%; 
   justify-content: flex-start ; 
}   
.commCol{
   width: 10%;  
}  
.asgCol{
   width: 12% 
}
.crtCol{
   width: 13% 
}
.updCol{
   width: 15% 
}
.issueColID{
   width: 2% 
}



        


.issueColumnID {
    text-align: center;
    vertical-align: middle;
    border-right:none;
    border-top: none;
    border-bottom: none;
}

.issueCol{
 justify-content:flex-start;  
}

.subIssueCol{
    justify-content: center;  
}

.typeCol{
   text-align: center  
}




.listTree {
    padding-left: 2%;
}



.dropdown {
   display: flex;
   position: absolute;
   padding: 50px 0 0 45px;
   vertical-align: middle;
   visibility: hidden;
}

.dropdown-content {   
    display: flex;
    flex-direction: column;
    
}

.statusProgress{
    color: #019CA6;
    width: 15%; 
}

.statusFeedback{
    color: #ff8700;
    width: 15%; 
}

.statusRework{
    color: #ff0100;
    width: 15%; 
}

.statusResolved{
    color: #127B11;
    width: 15%; 
}

.statusReadyFTest{
    color: #014AA6;
    width: 15%; 
}


.commentTable{
   border: 1px solid#ddd;
  
}

.commentContainer{
    position: absolute;   
    overflow-y: auto;
    width: 320px;
    max-height: 200px;
    margin-left: 480px;
    margin-top: 50px;
    visibility: hidden;
    align-content: center;
}
.commColheadCommenter{
   width: 30% ;   
   border-color: #ddd;
   border-bottom-color: #1d90c9;    
}
.commColheadDescrip{
    width: 70%; 
     border-color: #ddd;
     border-bottom-color: #1d90c9;        
}
.commColCommenter{
    width: 30% ;
    border-style: none none solid none; 
    border-width: 2px;
}
.commColDescrip{
    width: 70%;
    justify-content: flex-start;
    border-style: none none solid solid; 
    border-width: 2px;
    
}

.show {
    display: block;
}







